.page-header {
  background-image: url(https://images.pexels.com/photos/192313/pexels-photo-192313.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1067&w=1600);
}

.align-flex-end {
  align-self: flex-end;
  label {
    margin-bottom: 7px;
  }
  select {
    height: 40px;
  }
}

.form-select {
  height: 40px !important;
}
