<div class="row">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-create-reservation">
      <div class="card-header">
        <h4 class="card-title">{{createReservationConstants.CREATE_RESERVATION}}</h4>
      </div>
      <div class="card-body">
        <form name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && isDateRight() && isTimeInOpeningHours() &&
                  isTimeRight() && isHostsCountRight() && isTimeBeforeClosing() &&
                  sendFirstStepAndGetPlaces()">
          <!--  date and time row -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="date"><i class="far fa-calendar-alt"></i>Datum rezervace<span class="mandatory">*</span></label>
                <input id="date"
                       name="date"
                       class="form-control"
                       placeholder=""
                       type="date"
                       [(ngModel)]="reservationInfo.date"
                       #date="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && (date.invalid || !isDateRight()) }"
                       required/>
                <div *ngIf="f.submitted && (date.invalid || !isDateRight())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="date.errors?.required; else badDate">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="time"><i class="far fa-clock"></i>Čas rezervace<span class="mandatory">*</span></label>
                <input id="time"
                       name="time"
                       class="form-control"
                       placeholder=""
                       type="time"
                       [(ngModel)]="reservationInfo.time"
                       #time="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && (time.invalid || !isTimeInOpeningHours() || !isTimeRight()) }"
                       required/>
                <div *ngIf="f.submitted && (time.invalid || !isTimeRight())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
                <div *ngIf="f.submitted && (time.invalid || !isTimeInOpeningHours())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime2">
                  </div>
                </div>
                <div *ngIf="f.submitted && (time.invalid || !isTimeBeforeClosing())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime3">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  hosts count and visit time row -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hosts"><i class="fas fa-users"></i>Počet hostů<span class="mandatory">*</span></label>
                <input id="hosts"
                       name="hosts"
                       class="form-control"
                       placeholder=""
                       type="number"
                       [(ngModel)]="reservationInfo.hostsCount"
                       #hostsCount="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && (hostsCount.invalid || !isHostsCountRight()) }"
                       required/>
                <div *ngIf="f.submitted && (hostsCount.invalid || !isHostsCountRight())" class="invalid-message">
                  <div class="invalid-form-value" *ngIf="hostsCount.errors?.required; else badHostsCount">
                    {{ createReservationConstants.REQUIRED_FIELD}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="visit-time"><i class="fas fa-question"></i>V restauraci se zdržím/e</label>
                <select id="visit-time" [(ngModel)]="reservationInfo.expectedLength" name="inRestaurant"
                        class="form-control">
                  <option *ngFor="let timeIn of createReservationConstants.TIME_IN_RESTAURANT" [value]="timeIn.value">
                    {{ timeIn.viewValue }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!--  sumbit button -->
          <button type="submit"
                  id="submitButton"
                  class="btn btn-primary btn-fill pull-right">
            Pokračovat na výběr místa
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #badDate>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_DATE }}
  </span>
</ng-template>

<ng-template #badHostsCount>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_HOST_COUNT }}
  </span>
</ng-template>

<ng-template #badTime>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_TIME }}
  </span>
</ng-template>

<ng-template #badTime2>
  <span class="invalid-form-value">
    {{ createReservationConstants.TIME_IS_NOT_IN_OPENING_HOURS }}
  </span>
</ng-template>

<ng-template #badTime3>
  <span class="invalid-form-value">
    {{ createReservationConstants.RESERVATION_BEFORE_CLOSING_TIME }}
  </span>
</ng-template>
