<div class="my-body">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'navbar-transparent': !windowScrolled}">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/homepage#">
          PIS Restaurant
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
                (click)="toggleSidebar()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation"
           [ngClass]="{'navbar-align-right' : isTablet()}">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Facebooku" href="https://www.facebook.com/FIT.VUT/">
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Instagramu" href="https://www.instagram.com/fit.vut/">
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="scroll(contact)" class="nav-link">Kontakt</a>
          </li>
          <li class="nav-item">
            <a (click)="scroll(menu)" class="nav-link">Menu</a>
          </li>
          <li class="nav-item" *ngIf="authService.isUserNotLoggedIn()">
            <a routerLink="/reservations/new" class="nav-link">Rezervace</a>
          </li>
          <li class="nav-item" *ngIf="authService.hasUserSpecificRole(this.authService.authConstants.LOGGED_USER_NAME)">
            <a routerLink="/reservation" class="nav-link">Rezervace</a>
          </li>
          <ng-container *ngFor="let navbarItem of navbarItems; let index = index">
            <li class="nav-item" *ngIf="routes.isAccessibleByCurrentUser(navbarItem.showInNavbar)">
              <a [ngClass]="{
                    'btn-danger' : navbarItem.path === '/login',
                    'btn btn-round': navbarItem.path === '/register' || navbarItem.path === '/login',
                    'nav-link' : navbarItem.path === '/account'
                 }"
                 [routerLink]="[navbarItem.path]"
                 (click)="navbarItem.path === '/login' && logout()">
                   {{navbarItem.title}}
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Scroll to top button -->
  <div class="scroll-to-top"
       [ngClass]="{'show-scrollTop': windowScrolled}">
    <button (click)="scrollToTop()"
            class="btn btn-outline-default btn-round">
      <span class="fa fa-chevron-up"></span>
    </button>
  </div>

  <!-- Background video -->
  <video loop muted autoplay playsinline class="header-video" oncanplay="this.muted=true">
    <source src="https://www.mlynec.cz/ML/img/intro.mp4" type="video/mp4">
  </video>
  <div class="page-header section-transparent" data-parallax="true">
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">PIS Restaurant</h1>
        </div>
        <h2 class="presentation-subtitle text-center">
          Rodinná restaurace s tradiční českou kuchyní
        </h2>
      </div>
    </div>
    <h6 class="category category-absolute header-footer">
      Těšíme se na vaši návštěvu
    </h6>
  </div>
  <div class="main">
    <div class="section section-dark" id="images">
      <div class="container">
        <div class="row gallery">
          <div class="col-md-5">
            <h2 class="title">
              Příjemné prostředí
            </h2>
            <br/>
            <p class="description">
              Vnitřní interiér samostatné restaurace Vás okouzlí svým moderním stylem ve&nbsp;stylu dřevěné chaty
              s&nbsp;BIO krbem. Restaurace je vhodná pro&nbsp;Vaše rodinné oslavy, firemní večírky, rauty, svatby
              či promoce.
            </p>
          </div>
          <div class="col-md-7">
            <div class="card page-carousel">
              <ngb-carousel *ngIf="carouselRestaurant">
                <ng-template ngbSlide *ngFor="let img of carouselRestaurant; index as i">
                  <div class="carousel-img-wrapper">
                    <img [src]="img.src" [alt]="img.label">
                  </div>
                  <div class="carousel-caption">
                    <h3>{{img.label}}</h3>
                    <p>{{img.caption}}</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark">
      <div class="container">
        <div class="row flex-column-reverse flex-md-row gallery">
          <div class="col-md-7">
            <div class="card page-carousel">
              <ngb-carousel *ngIf="carouselFood">
                <ng-template  ngbSlide *ngFor="let img of carouselFood; index as i">
                  <div class="carousel-img-wrapper">
                    <img [src]="img.src" [alt]="img.label">
                  </div>
                  <div class="carousel-caption">
                    <h3>{{img.label}}</h3>
                    <p>{{img.caption}}</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <div class="col-md-5">
            <h2 class="title">
              Ochutnejte současnou gastronomii
            </h2>
            <br/>
            <p class="description">
              Připravujeme pro Vás české speciality. S respektem k&nbsp;tradičním postupům se&nbsp;nebojíme využít
              nejmodernějších gastronomických metod, aby jsme dosáhli dokonalé chuti. Výsledkem je nadčasové
              a&nbsp;elegantní české i&nbsp;mezinárodní menu postavené na sezonních a lokálních surovinách.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-menu" #menu>
      <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">
            Aktuální menu
          </h2>
        </div>
        <div class="actual-menu">
          <app-normal-menu></app-normal-menu>
        </div>
      </div>
      <div class="moving-clouds"></div>
    </div>
    <div class="section section-dark" #contact>
      <div class="container">
        <div class="title">
          <h2 class="lines">
            <span>Kontakt</span>
          </h2>
        </div>
        <div class="contact-grid">
          <div class="address info-content">
            <div class="info-name">Adresa restaurace</div>
            Restaurace PIS Restaurant
            <br>
            Božetěchova 2
            <br>
            612 00 Brno-Královo Pole
          </div>
          <div class="contact info-content">
            <div class="info-name">Kontaktujte nás</div>
            <a href="mailto:pisrestaurantvutfit@gmail.com">pisrestaurantvutfit@gmail.com</a>
            <br>
            +420 541 141 144
          </div>
          <div class="op-hours info-content">
            <div class="info-name">Otevírací doba</div>
            Každý den:
            <br>
            10.00 - 23.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="copyright pull-right">
        Copyright &copy; 2020 <a href="https://www.fit.vut.cz/study/course/PIS/.cs">PIS projekt</a>.
      </p>
    </div>
  </footer>
</div>
