<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 Nenalezeno</h2>
      <div class="error-details">
        {{ notFoundConstants.ERROR_MESSAGE }}
      </div>
      <div class="error-actions">
        <a class="btn btn-primary btn-lg" (click)="notFoundRedirect()"><span
          class="glyphicon glyphicon-home"></span>
          {{ notFoundConstants.BACK_BUTTON }}
        </a>
      </div>
    </div>
  </div>
</div>
