<div class="my-body">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'navbar-transparent': !windowScrolled}">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/homepage#">
          PIS Restaurant
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
                (click)="toggleSidebar()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation"
           [ngClass]="{'navbar-align-right' : isTablet()}">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Facebooku" href="https://www.facebook.com/FIT.VUT/">
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Instagramu" href="https://www.instagram.com/fit.vut/">
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/homepage" class="nav-link">Hlavní stránka</a>
          </li>
          <li class="nav-item">
            <a routerLink="/reservations/new" class="nav-link">Rezervace</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="btn btn-round btn-danger">Registrace</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="page-header custom-page-header">
    <div class="filter"></div>
    <div class="container">
      <div class="row forms">
        <div class="col-lg-12 mlr-auto max-width-authentication">
          <div class="card card-register">
            <h3 class="title mx-auto">Přihlásit se do systému</h3>
            <form name="form"
                  #f="ngForm"
                  class="register-form"
                  (ngSubmit)="f.form.valid && sendLoginData()"
                  novalidate>
              <label for="email"><i class="fa fa-envelope"></i>Emailová adresa<span class="mandatory">*</span></label>
              <input id="email"
                     name="email"
                     class="form-control"
                     placeholder="Email"
                     type="email"
                     [(ngModel)]="loginModel.email"
                     #email="ngModel"
                     [ngClass]="{ 'is-invalid' : f.submitted && email.invalid }"
                     required
                     email/>
              <div *ngIf="f.submitted && email.invalid"
                   class="invalid-message">
                <div class="invalid-form-value"
                     *ngIf="email.errors?.required; else emailStructure">
                  {{ loginConstants.REQUIRED_FIELD }}
                </div>
              </div>
              <label for="password"><i class="fa fa-lock"></i>Heslo<span class="mandatory">*</span></label>
              <input id="password"
                     name="password"
                     class="form-control"
                     placeholder="Heslo"
                     type="password"
                     [(ngModel)]="loginModel.password"
                     #password="ngModel"
                     [ngClass]="{ 'is-invalid' : f.submitted && password.invalid }"
                     required/>
              <div *ngIf="f.submitted && password.invalid"
                   class="invalid-message">
                <div class="invalid-form-value"
                     *ngIf="password.errors?.required">
                  {{ loginConstants.REQUIRED_FIELD }}
                </div>
              </div>
              <button type="submit" id="submitButton"
              class="btn btn-danger btn-block btn-round">{{ loginConstants.LOG_IN_BUTTON }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer register-footer text-center">
      <h6>PIS Restaurant</h6>
    </div>
  </div>
</div>
<ng-template #emailStructure>
  <span class="invalid-form-value">
    {{ loginConstants.WRONG_EMAIL_FORMAT }}
  </span>
</ng-template>
