<div class="scroll-to-top"
     [ngClass]="{'show-scrollTop': windowScrolled}">
  <button (click)="scrollToTop()"
          class="btn btn-warning btn-fill">
    <span class="fa fa-chevron-up"></span>
  </button>
</div>
