<footer class="footer">
  <div class="container-fluid">
    <p class="copyright pull-right">
      Copyright &copy; 2020 <a href="https://www.fit.vut.cz/study/course/PIS/.cs">PIS projekt</a>.
    </p>
  </div>
</footer>
