<highcharts-chart *ngIf="this.salesOfLast12MonthsDataReady" [Highcharts]="Highcharts"
                  [options]="salesOfLast12MonthsChartOptions" class="chart">
</highcharts-chart>

<highcharts-chart *ngIf="this.countOfSoldMenuItemsDataReady" [Highcharts]="Highcharts"
                  [options]="countOfSoldMenuItemsChartOptions" class="chart">
</highcharts-chart>

<highcharts-chart *ngIf="this.lastTimeSoldDataReady" [Highcharts]="Highcharts"
                  [options]="lastTimeSoldChartOptions" class="chart">
</highcharts-chart>

<highcharts-chart *ngIf="this.averageUtilizationDataReady" [Highcharts]="Highcharts"
                  [options]="averageUtilizationOptions" class="chart">
</highcharts-chart>
