<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-menu" [ngClass]="{'homepage-menu' : regexp.test(router.url)}">
      <div class="card-header" *ngIf="!regexp.test(router.url)">
        <h4 class="card-title">
          {{ menuConstants.MENU }}
        </h4>
      </div>
      <div class="card-body"
           *ngIf="this.categories.length === 0">
        <div class="row">
          <div class="col-sm-12">
            {{ menuConstants.EMPTY_MENU }}
          </div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="this.categories.length !== 0">
        <ng-container *ngFor="let category of this.categories">
          <div>
            <h5 class="category-name">{{ category.categoryName }}</h5>
          </div>
          <div class="grids-container">
            <div class="my-grid grid-stripped" *ngFor="let menuItem of category.menuItems">
              <div class="grid-cell grammage">
                {{ menuItem.grammage }}
              </div>
              <div class="grid-cell name">
                <span class="name-style">{{ menuItem.name }}</span>
              </div>
              <div class="grid-cell price">
                {{ menuItem.price }}&nbsp;Kč
              </div>
              <div class="grid-cell meal-description">
                {{ menuItem.description }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
