.grids-container {
  .my-grid {
    display: grid;
    grid-template-columns: 65px auto 60px;
    grid-template-rows: auto auto;
    grid-template-areas: 'grammage name price' '. meal-description .';
    grid-column-gap: 10px;
    padding: 3px 15px;

    .grid-cell {
      align-self: center;
      color: #9A9A9A;
    }
  }
}

.grammage {
  grid-area: grammage;
  justify-self: left;
}

.name {
  grid-area: name;
  justify-self: left;
}

.price {
  grid-area: price;
  justify-self: right;
}

.meal-description {
  grid-area: meal-description;
}

.homepage-menu {
  border: 0 !important;
  border-radius: 10px;
  .card-body {
    padding-top: 0;
    padding-bottom: 0;

    .category-name {
      background-color: #66615b;
    }

    .grids-container {
      font-weight: 400;
    }
    div:first-child {
       .category-name {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .grids-container {
    .my-grid {
      grid-template-areas: 'grammage name price' 'meal-description meal-description meal-description';
    }
  }
}

.max-width-menu {
  max-width: 800px;
}
