<app-home-page *ngIf="isHomePage.test(router.url)"></app-home-page>
<app-login *ngIf="isLoginPage.test(router.url)"></app-login>
<app-register *ngIf="isRegisterPage.test(router.url)"></app-register>
<app-create-reservation *ngIf="isCreateReservationPage.test(router.url)"></app-create-reservation>
