<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Menu</h4>
        <p class="card-category">Kliknutím na položku v menu položku z menu odeberete</p>
        <hr>
      </div>
      <div class="card-actions-top" *ngIf="categoriesInMenu?.length !== 0 || categoriesNotInMenu?.length !== 0">
        <div class="row">
          <div class="col-md-6">
            <button type="button"
                    (click)="restartCategories()"
                    class="btn btn-primary btn-block btn-fill">
              {{ menuConstants.RESTART }}
            </button>
          </div>
          <div class="col-md-6">
            <button type="button"
                    (click)="sendEditMenuCategories()"
                    class="btn btn-success btn-block btn-fill">
              {{ menuConstants.SAVE }}
            </button>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="categoriesInMenu?.length === 0">
        <div class="row">
          <div class="col-sm-12">{{ menuConstants.EMPTY_MENU}}</div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="categoriesInMenu?.length !== 0">
        <ng-container *ngFor="let category of categoriesInMenu">
          <div>
            <h5 class="category-name">{{ category.categoryName }}</h5>
          </div>
          <table class="table table-hover table-striped table-without-margin">
            <tbody class="cell-padding">
            <tr *ngFor="let menuItem of category.menuItems">
              <td class="table-content clickable"
                  (click)="moveItem(menuItem, category, categoriesInMenu, categoriesNotInMenu)">
                {{ menuItem.name }}
              </td>
              <td class="action-button">
                <button type="button"
                        (click)="showPopupMenuItemInfo(menuItem.menuItemId)"
                        class="btn btn-info btn-fill btn-social">
                  <span class="fa fa-info"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Pokrmy</h4>
        <p class="card-category">Kliknutím na položku v seznamu položku přidáte do menu</p>
      </div>
      <div class="card-body custom-card-body" *ngIf="categoriesNotInMenu?.length === 0">
        <div class="row">
          <div class="col-sm-12">{{ menuConstants.EMPTY_NOT_IN_MENU}}</div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="categoriesNotInMenu?.length !== 0">
        <ng-container *ngFor="let category of categoriesNotInMenu">
          <div>
            <h5 class="category-name">{{ category.categoryName }}</h5>
          </div>
          <table class="table table-hover table-striped table-without-margin">
            <tbody class="cell-padding">
            <tr *ngFor="let menuItem of category.menuItems">
              <td class="table-content clickable"
                  (click)="moveItem(menuItem, category, categoriesNotInMenu, categoriesInMenu)">
                {{ menuItem.name }}
              </td>
              <td class="action-button">
                <button type="button"
                        (click)="showPopupMenuItemInfo(menuItem.menuItemId)"
                        class="btn btn-info btn-fill btn-social">
                  <span class="fa fa-info"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
