<div class="row"
     *ngIf="this.categories.length > 0; else emptyCategories">
  <div class="col-md-12">
    <div class="card mlr-auto max-width-edit-menu-items">
      <div class="card-header">
        <h4 class="card-title">
          {{ menuConstants.ADD_MENU_ITEM }}
        </h4>
      </div>
      <div class="card-body">
        <form name="form"
              id="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && checkValues() && sendAddNewMenuItem()"
              novalidate>

          <!--  name row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name"><i class="fas fa-tag"></i>
                  Název
                  <span class="mandatory">*</span>
                </label>
                <input id="name"
                       name="name"
                       class="form-control"
                       placeholder="Název"
                       type="text"
                       [(ngModel)]="newMenuItem.name"
                       #name="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && name.invalid }"
                       required/>
                <div *ngIf="f.submitted && name.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="name.errors?.required">
                    {{ menuConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  category row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="category"><i class="fas fa-folder-open"></i>
                  Kategorie pokrmu
                </label>
                <select
                  id="category"
                  name="category"
                  [(ngModel)]="this.chosenCategoryName"
                  class="form-control">
                  <option *ngFor="let cat of categories">
                    {{ cat.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!--  price row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="price"><i class="fas fa-dollar-sign"></i>
                  Prodejní cena (Kč)
                  <span class="mandatory">*</span>
                </label>
                <input id="price"
                       name="price"
                       class="form-control"
                       placeholder="Cena"
                       type="number"
                       [(ngModel)]="newMenuItem.price"
                       #price="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && price.invalid }"
                       required/>
                <div *ngIf="f.submitted && price.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="price.errors?.required">
                    {{ menuConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  production_price row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="production_price"><i class="fas fa-money-bill-alt"></i>
                  Výrobní cena (Kč)
                  <span class="mandatory">*</span>
                </label>
                <input id="production_price"
                       name="production_price"
                       class="form-control"
                       placeholder="Cena výroby"
                       type="number"
                       [(ngModel)]="newMenuItem.productionPrice"
                       #production_price="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && production_price.invalid }"
                       required/>
                <div *ngIf="f.submitted && production_price.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="production_price.errors?.required">
                    {{ menuConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  grammage row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="grammage"><i class="fas fa-balance-scale"></i>
                  Množství - Gramáž (g) / Objem (l)
                  <span class="mandatory">*</span>
                </label>
                <input id="grammage"
                       name="grammage"
                       class="form-control"
                       placeholder="Gramáž"
                       type="text"
                       [(ngModel)]="newMenuItem.grammage"
                       #grammage="ngModel"
                       [ngClass]="{ 'is-invalid' : f.submitted && grammage.invalid }"
                       required/>
                <div *ngIf="f.submitted && grammage.invalid"
                     class="invalid-message">
                  <div class="invalid-form-value"
                       *ngIf="grammage.errors?.required">
                    {{ menuConstants.REQUIRED_FIELD }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  description row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description"><i class="far fa-sticky-note"></i>
                  Popisek pokrmu
                </label>
                <textarea rows="3"
                          id="description"
                          name="description"
                          class="form-control"
                          placeholder="Popisek"
                          type="text"
                          [(ngModel)]="newMenuItem.description">

                </textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--  action buttons -->
      <div class="card-footer">
        <div class="row action-buttons">
          <div class="col-sm-6">
            <button routerLink="/menu-items" class="btn btn-danger btn-block btn-fill">
              Zrušit
            </button>
          </div>
          <div class="col-sm-6">
            <button type="submit" form="form" id="submitButtonNew" class="btn btn-success btn-block btn-fill">
              Uložit pokrm
            </button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<ng-template #emptyCategories>
  <span>
    {{ menuConstants.NO_CATEGORIES_CREATE_SOME }}
  </span>
</ng-template>
