<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card min-with-employees">
      <div class="card-header">
        <h4 class="card-title">Správa přístupových práv a údajů zaměstnanců</h4>
        <p class="card-category">Změny v osobních údajích se provedou po kliknutí mimo textové pole</p>
        <hr>
      </div>
      <div class="card-actions-top">
        <button routerLink="/employees/new"
           class="btn btn-primary btn-fill pull-right">
          {{ this.employeeConstants.NEW_EMPLOYEE }}
        </button>
      </div>
      <div class="card-body">
        <div class="my-grid"
             *ngIf="!err && !noEmployeesInDatabase">
          <div class="grid-cell"><label><i class="fa fa-user"></i>Křestní jméno</label></div>
          <div class="grid-cell"><label><i class="fa fa-user"></i>Příjmení</label></div>
          <div class="grid-cell"><label><i class="fa fa-envelope"></i>Emailová adresa</label></div>
          <div *ngFor="let role of employeeConstants.ROLES_ARRAY"
               class="grid-cell">
            <label *ngIf="role.enabled || this.isAdminLoggedIn">{{ role.czechName }}</label>
          </div>
          <div class="grid-cell"></div>

          <ng-container *ngFor="let employee of employeesModel; let employeeIndex = index">
            <input class="grid-cell form-control"
                   type="text"
                   [(ngModel)]="employee.employeeInfo.name"
                   #name="ngModel"
                   (change)="checkValidityOfInputValue('name', name.viewModel) &&
                     changeEmployeeAttribute(employee.employeeInfo.email, 'name', name.viewModel)"
                   required>

            <input class="grid-cell  form-control"
                   type="text"
                   [ngModel]="employee.employeeInfo.surname"
                   #surname="ngModel"
                   (change)="checkValidityOfInputValue('surname', surname.viewModel) &&
                     changeEmployeeAttribute(employee.employeeInfo.email, 'surname', surname.viewModel)">
            <input class="grid-cell  form-control"
                   type="text"
                   [ngModel]="employee.employeeInfo.email"
                   #email="ngModel"
                   (change)="checkValidityOfInputValue('email', email.viewModel) &&
                     changeEmployeeAttribute(employee.employeeInfo.email, 'email', email.viewModel)">
            <div *ngFor="let role of employeeConstants.ROLES_ARRAY; let checkboxIndex = index"
                 class="grid-cell">
              <ng-container *ngIf="role.enabled || this.isAdminLoggedIn">
                <label class="switch">
                  <input type="checkbox"
                         [disabled]="!role.enabled  && !this.isAdminLoggedIn"
                         id="{{ 'checkbox-' + employeeIndex + '-' + checkboxIndex}}"
                         [checked]="hasRoleByName(employee, role.name)"
                         (change)="changeRoleState(employee, role.name, employeeIndex, checkboxIndex)">
                  <span class="slider round"></span>
                </label>
              </ng-container>
            </div>
            <div class="grid-cell">
              <button (click)="removeEmployee(employee.employeeInfo, $event)"
                      class="btn btn-danger btn-fill btn-round btn-social">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </ng-container>
        </div>

        <div *ngIf="noEmployeesInDatabase">
          {{ this.employeeConstants.NO_EMPLOYEES_IN_DB }}
        </div>
      </div>
    </div>
  </div>
</div>
